{% extends 'snippits/base.html' %}
{% load static %}
{% block title %}
<title>Notes Website</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block head %}
<!-- contact  -->
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<!-- endabout-->

<section class="aboutUsPage">
    <div class="privacypolicy">
        <div class="section-title">

            <h3>About <span>Us</span></h3>
        </div>
        <ul>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
        </ul>



    </div>
</section>
<section class="aboutUsPage">
    <div class="privacypolicy">
        <div class="section-title">

            <h3>Privacy <span>Policy</span></h3>
        </div>
        <ul>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam temporibus distinctio fugiat,
                    earum eaque dignissimos repellat, quia voluptates porro nulla iste laboriosam facilis aperiam
                    aspernatur consectetur libero dolorum suscipit!
                </p>
            </li>
        </ul>



    </div>
</section>
<section id="Questions" class="Questions">
    <div class="container">

        <div class="section-title">
            <h2>F.A.Q</h2>
            <h3>Frequently Asked <span>Questions</span></h3>
        </div>

        <ul class="Questions-list">

            <li>
                <a data-toggle="collapse" class="" href="#Questions1">Lorem ipsum dolor sit, amet consectetur <i
                        class="icofont-simple-up"></i></a>
                <div id="Questions1" class="collapse show" data-parent=".Questions-list">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam iusto modi, dolorum porro in
                        sequi odit veritatis aperiam qui minus nostrum consequuntur consectetur dignissimos veniam
                        cumque molestias necessitatibus eveniet architecto? </p>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#Questions2" class="collapsed">Feugiat scelerisque varius morbi enim
                    nunc faucibus a pellentesque? <i class="icofont-simple-up"></i></a>
                <div id="Questions2" class="collapse" data-parent=".Questions-list">
                    <p>
                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                        laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est
                        pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
                        cursus turpis massa tincidunt dui.
                    </p>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#Questions3" class="collapsed">Dolor sit amet consectetur adipiscing
                    elit pellentesque habitant morbi? <i class="icofont-simple-up"></i></a>
                <div id="Questions3" class="collapse" data-parent=".Questions-list">
                    <p>
                        Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                        elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                        pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna
                        molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#Questions4" class="collapsed">Ac odio tempor orci dapibus. Aliquam
                    eleifend mi in nulla? <i class="icofont-simple-up"></i></a>
                <div id="Questions4" class="collapse" data-parent=".Questions-list">
                    <p>
                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                        laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est
                        pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
                        cursus turpis massa tincidunt dui.
                    </p>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#Questions5" class="collapsed">Tempus quam pellentesque nec nam aliquam
                    sem et tortor consequat? <i class="icofont-simple-up"></i></a>
                <div id="Questions5" class="collapse" data-parent=".Questions-list">
                    <p>
                        Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante
                        in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum
                        est. Purus gravida quis blandit turpis cursus in
                    </p>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#Questions6" class="collapsed">Tortor vitae purus faucibus ornare.
                    Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="icofont-simple-up"></i></a>
                <div id="Questions6" class="collapse" data-parent=".Questions-list">
                    <p>
                        Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer
                        malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor
                        sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque
                        diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie
                        nunc non blandit massa enim nec.
                    </p>
                </div>
            </li>

        </ul>

    </div>
</section>

<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact Us</h2>
            <!-- <h3>Contact <span>Us</span></h3> -->
            <p>We’re here to help and answer any question you might have. We look forward to hearing from you</p>
        </div>



        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Location:</h4>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Suggestion"
                            data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                            data-msg="Please write something for us"
                            placeholder="Please write your valuable feedback"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section>


<!-- endabout-->
{% endblock %}