<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <p>created at : {{note.created_at}}</p>
    <p>updated at : {{note.updated_at}}</p>
    <h4>{{note.note_title }}</h4>
    {{note.note_content.html | safe}}

    <br>
    {% if note.image %}
    <img src="{{note.image.path}}" alt="">
    {% endif %}
</body>
</html>