{% extends 'snippits/base.html' %} {% load static %} {% block title %}
<title>Notes Website</title>
<meta content="" name="description">
<meta content="" name="keywords"> {% endblock %} {% block head %}
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'afterLogin/css/dashBoardIndex.css' %}">
<link rel="stylesheet" href="{% static 'afterLogin/css/allnotes.css' %}">
<link rel="stylesheet" href="{% static 'afterLogin/css/AllnotesTable.css' %}">

<link rel="stylesheet" href="{% static 'css/modal.css' %}">
<link rel="stylesheet" href="{% static 'afterLogin/css/dashboardMain.css' %}"> {% endblock %} {% block content %} {% include 'snippits/deleteaccount.html' %} {% for message in messages %}
<section class="loginModal" style="    position: absolute;">
    <div class="container text-center">
        <div class="costumModal">
            <div id="costumModal42" class="modal" data-easein="bounce" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <style>
                        .modal-content {
                            border: 1px solid gray;
                            background: black;
                            border-radius: 12px;
                            box-shadow: 0px 0px 11px #f1f1f1;
                        }
                        
                        .modal-header {
                            border-bottom: none;
                        }
                    </style>
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>

                        </div>
                        <div class="modal-body">
                            <p style="color: #ff8d00;">{{message}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<button href="#costumModal42" role="button" data-toggle="modal" style="display: none;" id="alertButton">alert</button>

<script>
    window.onload = function() {
        document.getElementById('alertButton').click();
    }
</script>
{% endfor %} {% include 'snippits/create.html' %}

<!-- DashBoard -->
<section class="dashboardIndex">
    {% include 'snippits/dashboardSidebar.html' %}
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard text-white">Your Notes</span>
            </div>

        </nav>

        <div class="home-content">
            {% include 'snippits/createbutton.html' %}

            <div class="note-content tab-content">
                <div id="note1" class="tab-pane fade active show">
                    <div class="icon active animate__animated animate__fadeIn i-grid">
                        <div class="row">
                        </div>
                    </div>
                    <div class="icon active animate__animated animate__fadeIn i-list AllNotesTable">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table  tbl-server-info">
                                        <thead>
                                            <tr class="ligth">
                                                <th class="w-50" scope="col">Title</th>
                                                <!-- <th scope="col">Share</th> -->
                                                <th scope="col">Created At</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ul class="Questions-list">
                                                {% for title in titles %}
                                                <tr>
                                                    <td>
                                                        <h4 class="mb-2">


                                                            <li style="    list-style: none;">
                                                                <a data-toggle="collapse" class="" href="#Questions1">{{title.name}}<i class="icofont-simple-up"></i></a>
                                                                <div id="Questions1" class="collapse" data-parent=".Questions-list">
                                                                    <p>
                                                                        <a href="{% url 'dashboardFolder' title.id %}"><button
                                                                                class="btn btn-small signUpButton"
                                                                                style="
                                                                                background: #ded6d8;
                                                                                font-weight: 800;"> {{title.no_of_folder}}
                                                                                Folders</button></a>
                                                                    </p>
                                                                    <p>
                                                                        <a href="{% url 'dashboardFolder' title.id %}"><button
                                                                                class="btn btn-small signUpButton"
                                                                                style="
                                                                                background: #ded6d8;
                                                                                font-weight: 800;"><i
                                                                                    class="fa fa-sticky-note"></i> {{title.no_of_files}}
                                                                                Notes</button></a>
                                                                    </p>
                                                                </div>
                                                            </li>

                                                        </h4>
                                                    </td>
                                                    <!-- <td>
                                                        <i class="las la-user-friends mr-2 font-size-20"></i> 03 share
                                                    </td> -->
                                                    <td>Dec 20</td>
                                                    <td>
                                                        <div>
                                                            <a href="#" class="badge badge-success mr-3" data-toggle="modal" data-target="#edit-note1"><i
                                                                    class="fa fa-edit mr-0"></i></a>
                                                            <a href="#" class="badge badge-danger" data-extra-toggle="delete" data-closest-elem="tr"><i
                                                                    class="fa fa-trash mr-0"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </ul>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function() {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>
</section>

<!-- endDashBoard  -->
{% endblock %} {% block script %}
<!-- Template Main JS File -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
{% endblock %}